.timer {
    position: absolute;
    z-index: 4;
    height: 0;
    overflow: hidden;
    transform-origin: top;
    transition: 0.3s;
}

.timer.open {
    position: absolute;
    z-index: 4;
    height: 100%;
    overflow: auto;
}

.timer .time {
    height: 50%;
    font-size: 4rem;
}

.timer .actions-panel {
    display: flex;
}

.timer .actions-panel button {
    width: 40%;
    border-radius: 5px;
}

.timer-bg {
    z-index: 3;
    display: none;
}

.timer-bg.open {
    display: block;
}
