.items-list {
    overflow-y: scroll;
    width: 100%;
    max-height: 25vh;
    font-size: 2rem;
    border: var(--base-border);
    background: var(--high-color);
    box-shadow: var(--main-shadow);
}

.items-list-item {
    width: 100%;
    height: 3rem;
    padding: 1vh 0 2.5vh 0;
    font-size: 2rem;
    border: 0;
    border-bottom: var(--base-border);
    border-radius: 0;
}

.items-list-item:last-child {
    border-bottom: 0;
}

.addAllItems {
    width: 100%;
    color: var(--base-color);
    background: var(--line-color);
    border-radius: 0;
}

.addAllItems.copy {
    background: #240050;
}

.week {
    margin: 0 auto 5vh auto;
}

.week-date {
    border: none;
}

.week-date div {
    height: 4rem;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 4rem;
    padding: 0;
    background: var(--base-color);
    border: none;
}

.actionsPanel {
    display: inline-block;
    float: left;
    margin: -5em 0.5rem 2rem 2rem;
    padding: 1rem 0 1rem 1.5rem;
    text-align: left;
    background: rgba(221, 240, 255, 0.5);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

.actionsPanel span {
    display: inline-block;
    margin: 0 1rem 0 0;
}

.actionsPanel input {
    appearance: none;
}

.deg45 {
    transform: rotate(-45deg);
}