table {
    width: 100%;
    margin: 0 auto 2rem auto;
    border-collapse: collapse;
}

tr {
    height: 5rem;
}

td {
    font-size: 3rem;
    border: var(--base-border);
    box-shadow: var(--main-shadow);
}

.day {
    width: 5rem;
    background: var(--high-color);
}

.left-column {
    text-align: left;
    padding: 0 0 0 10px;
}

.week-item-actions {
    float: left;
    width: 3rem;
    height: 3rem;
    margin: auto 5px auto auto;
    font-size: 2rem;
    line-height: 1rem;
}

.small {
    font-size: 2rem;
}

.week-number-arrow-up {
    background: rgba(255, 0, 0, 0.4) url('../../components/Arrange/alerts/arrowUp.svg') center/cover;
}

.week-number-arrow-down {
    background: rgba(255, 0, 0, 0.4) url('../../components/Arrange/alerts/arrowDown.svg') center/cover;
}

.all-done, .all-done .week-spots {
    color: var(--high-color);
    background: var(--line-color);
}

.scooch {
    transform: translateX(4rem);
    transition: all 0.3s ease-in-out;
}
