.number-modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    width: 95vw;
    padding: 0;
    color: var(--line-color);
    background: var(--base-color);
    box-shadow: var(--main-shadow);
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.number-modal h2, .number-modal h3 {
    display: inline-block;
    margin: 4rem 1rem;
}

.number-modal h3 {
    font-size: large;
}

.number-modal .options div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 5px auto;
    padding: 10px;
    font-size: large;
    line-height: 5rem;
    background: #c5ddff;
}

.number-modal .options div.selected {
    background: #94bdff;
}

.number-modal .options div input {
    appearance: none;
    -moz-appearance: textfield;
    min-width: 30px;
    max-width: 25%;
    height: 30px;
    margin: auto 0;
    font-size: large;
    background: #94bdff;
    border: 1px solid #a6adec;
    border-radius: 5px;
}

.number-modal .options div.selected input {
    background: #639fff;
}

.number-modal .actions-panel {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 20px auto;
}

.number-modal .save-todo {
    width: 100%;
    padding: 0 40px;
    line-height: 6rem;
    color: #fff;
    background: #3e74c6;
    border-radius: 5px;
}

.number-modal .save-todo svg {
    stroke: var(--high-color);
}

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.number-modal-bg {
    z-index: 1;
}
