.number-modal .options div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 5px auto;
    padding: 10px;
    font-size: large;
    line-height: 5rem;
    background: #c5ddff;
}

.number-modal .options div.selected {
    background: #94bdff;
}

.number-modal .options div input {
    appearance: none;
    -moz-appearance: textfield;
    min-width: 30px;
    max-width: 25%;
    height: 30px;
    margin: auto 0;
    font-size: large;
    background: #94bdff;
    border: 1px solid #a6adec;
    border-radius: 5px;
}

.number-modal .options div.selected input {
    background: #639fff;
}

.number-modal .actions-panel {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 20px auto;
}

.number-modal .save-todo {
    width: 100%;
    padding: 0 40px;
    line-height: 6rem;
    color: #fff;
    background: #3e74c6;
    border-radius: 5px;
}

.number-modal .save-todo svg {
    stroke: var(--high-color);
}

.number-modal-bg {
    z-index: 1;
}
