.main-cell {
    width: 5rem;
}

.type-cell {
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

.type-cell.grey {
    color: #797979;
}

.week-spots {
    background: rgba(255,255,255,0.5);
}

.spot.grey {
    opacity: 0.4;
}

.spot.open {
    border: var(--main-border);
    background: var(--high-color);
}

.spot.closed {
    border: var(--main-border);
    background: var(--line-color);
}

.all-done .spot.closed {
    border: #1dff75;
    background: #1dff75;
}
