@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');
@import './colors.css';

html {
  --base-color: #efefef;
  --high-color: #ffffff;
  --font-color: #000000;
  --line-color: #000000;
  --main-font: 'Josefin Sans', sans-serif;
  --main-border: 2px solid #000000;
  --base-border: 1px solid #efefef;
  --main-shadow: 0 20px 20px 0 rgba(0, 104, 14, 0.2);
  --main-bg-color-1: #bae1ff;
  --main-bg-color-2: #daffe9;
}

* {
  font-size: 1.6vw;
  font-family: var(--main-font);
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--main-bg-color-1), var(--main-bg-color-2)) fixed;
}

@media screen and (orientation: landscape) {
  * {
    font-size: 10px;
  }
}
